@import "variables";
header {
  // background-color: $header_background;
  border-radius: 5px;
  // margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $dark_border_accent;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;

  .leftContainer {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;

  }

  .rightContainer {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-right: 30px;

    .changeMonth {
      font-size: 1.3rem;
    }

    p {
      margin-bottom: 0px;
    }
  }

  a {
    text-decoration: none;
    color: $main_text_color;
  }
}




